<header id="header">
    <div class="container">
        <div class="nav-container">
            <nav class="d-flex justify-content-start">
              <ul class="mx-auto p-2">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="#">Sobre Mi</a></li>
                <li><a href="/calculadora/index2.html">Calculadora</a></li>
                <li><a href="/snake game/index3.html">juego de la serpiente</a></li>
              </ul>
            </nav>
        </div>
        <div class="img-container d-flex justify-content-end">
            <img class="img-responsive p-2" src="../../../assets/facebook.png" alt="" >
            <img class="img-responsive p-2" src="../../../assets/instagram.png" alt="">
            <img class="img-responsive p-2" src="../../../assets/git.png" alt="">
            <img class="img-responsive p-2" src="../../../assets/twitter.png" alt="">
        </div>
    </div>
</header>
