header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }


  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center; /* centra las pestañas */
    margin: 0 auto; /* ajusta el margen */
  }
  
  nav ul li {
    margin-right: 1rem;
    display: inline-block; /* hace que las pestañas se muestren en línea */
  }
  
   nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem; /* aumenta el tamaño de las pestañas */
    color: white; /* color original de las pestañas */
    padding-top: 80px;
  }
  
  li a:hover {
    color: blue;
}


  #header {
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  img {
    width: 50px;
    height: 50px;
}
#header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .nav-container {
      float: left;
  }
  
  .img-container {
      float: right;
  }
  
  .img-responsive {
      width: 50px;
      height: 50px;
  }
